@charset "utf-8";

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'nicomoji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/nicomoji-plus_1.11.ttf') format('truetype');
}

body {
  width: 375px;
  margin: 0 auto;
  
  padding: 50px 0 0;
  font-size: 1.6rem;
  color: #383838;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #383838;
  text-decoration: none;
}

img {
  width: 100%; 
  height: auto
}

